# dependencies
node_modules/

# next.js
.next/
/out/
next-env.d.ts

# typescript
*.tsbuildinfo

# testing
/coverage

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*

# environment variables
.env
.env.production
.env*.local

# macOS-specific files
.DS_Store

# task list
/tasks/

# jetbrains setting folder
.idea/

# AI assistant config
CLAUDE.md
