---
import PresentationList from "@/components/ui/PresentationList.astro";
import { presentations } from "@/data/presentations";
import Layout from "@/layouts/Layout.astro";
import { profile } from "@/settings";
---

<Layout title={`Presentations | ${profile.fullName}`}>
  <div class="prose max-w-none">
    <h1>Presentations</h1>

    <blockquote>
      The current list of presentations is incomplete and will be updated soon. For now, a representative set is provided.
    </blockquote>

    <PresentationList presentations={presentations} />
  </div>
</Layout>