@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.994 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(0.994 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(0.9911 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.783 0.0384 132.737);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.954 0.0063 255.4755);
  --secondary-foreground: oklch(0.1344 0 0);
  --muted: oklch(0.9702 0 0);
  --muted-foreground: oklch(0.6234 0 0);
  --accent: oklch(0.4429 0.0444 134.5073);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.4926 0.1864 26.2192);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.93 0.0094 286.2156);
  --input: oklch(0.9401 0 0);
  --ring: oklch(0.783 0.0384 132.737);
  --chart-1: oklch(0.7459 0.1483 156.4499);
  --chart-2: oklch(0.5393 0.2713 286.7462);
  --chart-3: oklch(0.7336 0.1758 50.5517);
  --chart-4: oklch(0.5828 0.1809 259.7276);
  --chart-5: oklch(0.559 0 0);
  --sidebar: oklch(0.9777 0.0051 247.8763);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0 0 0);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.93 0.0136 134.8996);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.783 0.0384 132.737);
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 1.4rem;
  --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.08);
  --shadow-xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.08);
  --shadow-sm:
    0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 1px 2px -1px hsl(0 0% 0% / 0.16);
  --shadow:
    0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 1px 2px -1px hsl(0 0% 0% / 0.16);
  --shadow-md:
    0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 2px 4px -1px hsl(0 0% 0% / 0.16);
  --shadow-lg:
    0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 4px 6px -1px hsl(0 0% 0% / 0.16);
  --shadow-xl:
    0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 8px 10px -1px hsl(0 0% 0% / 0.16);
  --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.4);
  --tracking-normal: -0.025em;
  --spacing: 0.27rem;
  --shadow-color: #000000;
  --shadow-opacity: 0.16;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: -0.025em;
}

.dark {
  --background: oklch(0.1173 0.009 73.4751);
  --foreground: oklch(0.9796 0.0017 67.8026);
  --card: oklch(0.1609 0.0115 80.9823);
  --card-foreground: oklch(0.9796 0.0017 67.8026);
  --popover: oklch(0.1405 0.0109 88.4982);
  --popover-foreground: oklch(0.9796 0.0017 67.8026);
  --primary: oklch(0.783 0.0384 132.737);
  --primary-foreground: oklch(0.0986 0.0063 72.5271);
  --secondary: oklch(0.251 0.0148 76.2105);
  --secondary-foreground: oklch(0.9198 0.0075 80.7204);
  --muted: oklch(0.2203 0.0129 77.9565);
  --muted-foreground: oklch(0.6511 0.0081 80.7132);
  --accent: oklch(0.4429 0.0444 134.5073);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.4926 0.1864 26.2192);
  --destructive-foreground: oklch(0.9796 0.0017 67.8026);
  --border: oklch(0.2806 0.0246 82.6847);
  --input: oklch(0.1994 0.0155 75.9533);
  --ring: oklch(0.783 0.0384 132.737);
  --chart-1: oklch(0.5636 0.1645 136.9338);
  --chart-2: oklch(0.6509 0.1756 135.9702);
  --chart-3: oklch(0.7246 0.1732 135.119);
  --chart-4: oklch(0.8539 0.1402 133.7838);
  --chart-5: oklch(0.783 0.0384 132.737);
  --sidebar: oklch(0.0986 0.0063 72.5271);
  --sidebar-foreground: oklch(0.9498 0.0046 78.2977);
  --sidebar-primary: oklch(0.783 0.0384 132.737);
  --sidebar-primary-foreground: oklch(0.0986 0.0063 72.5271);
  --sidebar-accent: oklch(0.4429 0.0444 134.5073);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.2513 0.02 80.2775);
  --sidebar-ring: oklch(0.783 0.0384 132.737);
  --shadow-2xs: 0px 2px 12px 0px hsl(0 0% 0% / 0.17);
  --shadow-xs: 0px 2px 12px 0px hsl(0 0% 0% / 0.17);
  --shadow-sm:
    0px 2px 12px 0px hsl(0 0% 0% / 0.35), 0px 1px 2px -1px hsl(0 0% 0% / 0.35);
  --shadow:
    0px 2px 12px 0px hsl(0 0% 0% / 0.35), 0px 1px 2px -1px hsl(0 0% 0% / 0.35);
  --shadow-md:
    0px 2px 12px 0px hsl(0 0% 0% / 0.35), 0px 2px 4px -1px hsl(0 0% 0% / 0.35);
  --shadow-lg:
    0px 2px 12px 0px hsl(0 0% 0% / 0.35), 0px 4px 6px -1px hsl(0 0% 0% / 0.35);
  --shadow-xl:
    0px 2px 12px 0px hsl(0 0% 0% / 0.35), 0px 8px 10px -1px hsl(0 0% 0% / 0.35);
  --shadow-2xl: 0px 2px 12px 0px hsl(0 0% 0% / 0.88);
  --radius: 1.4rem;
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.35;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: -0.025em;
  --spacing: 0.27rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-mono: IBM Plex Mono, monospace;
  --font-serif: Lora, serif;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --radius: 1.4rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
  .prose {
    --tw-prose-body: var(--foreground);
    --tw-prose-headings: var(--foreground);
    --tw-prose-links: var(--primary);
    --tw-prose-bold: var(--foreground);
    --tw-prose-counters: var(--muted-foreground);
    --tw-prose-bullets: var(--muted-foreground);
    --tw-prose-hr: var(--border);
    --tw-prose-quotes: var(--foreground);
    --tw-prose-quote-borders: var(--border);
    --tw-prose-captions: var(--muted-foreground);
    --tw-prose-code: var(--foreground);
    --tw-prose-pre-code: var(--foreground);
    --tw-prose-pre-bg: var(--muted);
    --tw-prose-th-borders: var(--border);
    --tw-prose-td-borders: var(--border);
  }
  .prose img {
    @apply rounded-lg;
  }
}
